<!doctype html>
<html>
	<head>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
		<script src='app.js'></script>

		<style>
			body {
				padding-top: 70px;
			}
			a {
				cursor: pointer;
			}
			.btn + .btn {
				margin-left: 16px;
			}
			.form-control {
				width: 100%;
			}
		</style>

	</head>
	<body ng-app='blogApp'>
		<div ng-controller='blogController'>
			<nav class='navbar navbar-inverse navbar-fixed-top'>
				<div class='container'>
					<a class='navbar-brand'>CS 360 Magical Blog of Wonder and Joy</a>
				</div>
			</nav>
			<div class='container'>
				<div>
					<ol class="breadcrumb">
						<li ng-class='{active: !state.activePost}'><a ng-click='state.activePost=null; state.editing=false'>Posts</a></li>
						<li ng-if='state.activePost' class='active'>{{state.activePost.title}}</li>
					</ol>
				</div>
				<!-- blog list -->
				<div ng-if='!state.activePost'>
					<ul>
						<li ng-repeat='post in posts'>
							<a ng-click='state.activePost=post'>{{post.title}}</a>
						</li>
					</ul>
					<a class='btn btn-success' ng-click='addPost()'>Add Blog Post</a>
				</div>
				<div ng-if='state.activePost && !state.editing' blog-post ng-model='state.activePost'></div>
				<div ng-if='state.activePost && state.editing' blog-post-editor ng-model='state.activePost'></div>
			</div>
		</div>
	</body>
</html>