<!doctype html>
<html>
	<head>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
		<script src='app.js'></script>

		<style>
			body {
				padding-top: 70px;
			}
			a {
				cursor: pointer;
			}
		</style>

	</head>
	<body ng-app='blogApp'>
		<div ng-controller='blogController'>
			<nav class='navbar navbar-inverse navbar-fixed-top'>
				<div class='container'>
					<a class='navbar-brand'>Cool Blog</a>
				</div>
			</nav>
			<div class='container'>
				<div>
					<ol class="breadcrumb">
						<li ng-class='{active: !state.post}'><a ng-click='state.post=null'>Posts</a></li>
						<li ng-if='state.post' class='active'>{{state.post.title}}</li>

						<li class='pull-right'>
							<a ng-if='!state.post' class='' ng-click='addPost()'>Add Blog Post</a>
							<a ng-if='state.post' class='' ng-click='editPost()'>Edit Blog Post</a>
						</li>
					</ol>
				</div>
				<!-- blog list -->
				<div ng-if='!state.post'>
					<ul>
						<li ng-repeat='post in posts'>
							<a ng-click='state.post=post'>{{post.title}}</a>
						</li>
					</ul>
				</div>
				<div ng-if='state.post && !editing' blog-post ng-model='state.post'></div>
				<div ng-if='state.post && editing' blog-post-editor ng-model='state.post'></div>
			</div>
		</div>
	</body>
</html>